@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(arquivos/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor0: white;
    --cor1: rgba(127, 255, 212, 0.697);
    --cor2: rgb(0, 159, 0);
    --cor3: green;
    --cor4: darkgreen;
    --cor5: aquamarine;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}


body{
    background-color:var(--cor1);
    margin: 0px;
}
header{
    margin: 0px;
    padding: 10px;
    background: linear-gradient(to top, var(--cor4), var(--cor2))
}
header > h1{
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    font-weight: 100;
    box-shadow: 2px 2px 0px rbg(0, 0, 0, 0.267);
    
}
header > h2{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-shadow: 2px 2px 0px rbg(0, 0, 0, 0.267);
}
nav > a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    transition-duration: 0.5s;

}
a:hover{
    background-color: var(--cor2);
    border-radius: 5px;
}
main > article{
    background-color: white;
    margin: auto;
    max-width: 1000px;
    min-width: 300px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.539);
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;

}
article > h1{
    font-family: var(--fonte-android);
    font-size: 24px;
    color: green;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    padding: 10px;
}
article > h2{
    font-family: var(--fonte-android);
    font-size: 18px;
    color: green;
    background: linear-gradient(to right, aquamarine, white);
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 15px;
    padding: 5px;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-indent: 20px;
    text-align: justify;
    line-height: 1.5em;
    margin: 15px 15px;
}
div#dan{
    text-align: center;
    width: 100%;
}
div#irina{
    text-align: center;
    width: 100%;
}
div#bugdroid{
    margin: auto;
    max-width: 350px;
}
div#video{
    background-color: darkgreen;
    text-align: center;
    padding: 10px;
    margin: 0px 15px 0px 15px;

}
iframe{
    width: 90%;
}
aside > h3{
    background-color: darkgreen;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.396);
}
aside{
    background-color: white;
    padding: 10px;
    margin: 0px 5px 0px 5px;
}
aside > div{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.396);
}
div > div#one{
    margin-left: 0px;
    margin-right: 100px;
}
div > ul.one{
    list-style-type: "\2713";
    columns: 2;
}
div > p.for{
    margin: 0px;
}
footer{
    margin: 0px;
}
footer > p{
    background-color: darkgreen;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    margin: 0px;
}
p > a{
    color: var(--cor2);
    text-decoration: none;
}
p > a:hover{
    background-color: var(--cor0);
    color: var(--cor3);
    text-decoration: underline;
}
p > a#five{
    background-color: var(--cor1);
}
p > a::after{
    content: '\1F517';
}
abbr{
    text-decoration: none;
}
strong{
    color: var(--cor3);
}
